    <%=form_with url:"/search/index",model: @search,method: :get do |f|%>
      <div class="field">
        <p>j cherche</p>
        <%=f.check_box "isearchwoman",id:"swoman"%>

        <label for="swoman">women</label>
        <%=f.check_box "isearchman", id:"sman"%>
        <label for ="sman">men</label>
      </div>
      <div class="range">
           <div class="range-slider">
                  <span class="range-selected"></span>
                     </div>
                        <div class="range-input">
                               <%=f.range_field "min1", id:"",class:"min", min:"0", max:"1000", step:"10"%>
                               <%=f.range_field "max1", id:"",class:"max", min:"0", max:"1000", step:"10"%>
                                       </div>
                                          <div class="range-price">      
                                                 <label for="search_min">Min</label>
                                                      <%=f.number_field "min",class:"min"%>      
                                                           <label for="search_max">Max</label>
                                                      <%=f.number_field "max",class:"max"%>      
                                                                   </div>
                                                                    </div> 
      <div class="field">
        <p>avec</p>
        <%=f.check_box "profilestuff", id:"profilepic", value:"pic"%>

        <label for="profilepic">photo de profile</label>
        <%=f.check_box "profilestuff", id:"profilealbum", value:"album"%>
        <label for ="profilealbum">album</label>
      </div>
      <div class="field">


        <label for="pays">pays</label>
        <%=f.select "pays", [["","-"]]%>
      </div>
      <div class="field">


        <label for="nickname"> son nickname</label>
        <%=f.text_field "nickname"%>
      </div>
      <div class="field ">
        <p>type de rencontre</p>
        <%["ami","fun","sérieux"].each do |x|%>
      <div class=" form-check form-switch form-check-reverse">
        <%=f.check_box "type#{x.parameterize}", class:"form-check-input"%>

          <label class="form-check-label" for="type<%=x.parameterize%>"><%=x%></label>
      </div>
      <%end%>
      </div>
      <div class="field">
          <input type="submit" id="chercherbtn" name="chercher" value="chercher"/>
      </div>
    <%end%>
