<div class="room">
  <%someuser= room.user1_id == current_user.try(:id) ? room.user2 : room.user1%>

      <div class="profilepic">
          <span class="connecte"></span>
            <%=image_tag(asset_path(user.iam == "f" ? "femme" : "homme"), width:100, height:100)%>
              </div>
                <span class="nom"><%=user.nickname%></span>

                    &#128081;

    <p><%=user.iam == "f" ? "Femme" : "Homme"%></p>
                  <span class="age"><%=user.age%> ans</span>
                  <p><%=user.country_id%> <%=user.region%></p>
  <a class="chatter" href="/tchatche/<%=user.id%>">
    <span>
        

          &#9993;


    </span>
    Lire


  </a>
  <a class="chatter" href="/delete/tchatche/<%=user.id%>">
    <span>
      &#128465;

    </span>
    supprimer


  </a>
  </div>
