
  <div class="room" id="seeprofilelike<%=user.id%>">

      <div class="profilepic">
          <span class="connecte"></span>
            <%=image_tag(asset_path(user.iam == "f" ? "femme" : "homme"), width:100, height:100)%>
              </div>
                <span class="nom"><%=user.nickname%></span>

                    &#128081;

    <p><%=user.iam == "f" ? "Femme" : "Homme"%></p>
                  <span class="age"><%=user.age%> ans</span>
                  <p><%=user.country%> <%=user.region_id%></p>
  <a class="chatter" href="/tchatche/<%=user.id%>">
    <span>
        

          


    </span>
    voir


  </a>
  <a class="chatter" href="/tchatche/idontlike" onclick="$.ajax({data:{user1:<%=current_user.id%>,user2:<%=user.id%>},type:'post',url:'/tchatche/idontlike'});return false;">
    <span>
      &#128148;

    </span>
    supprimer


  </a>
  </div>
