<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :country%><br />
    <%= f.text_field :country  %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br />
    <%= f.select :region_id,[]  %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description,placeholder:"quelques mot à propos de vous"  %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.number_field :weight,max:150,min:40%>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size,max:220,min:100%>
  </div>
  <div class="field">

    <%= f.check_box :showweightsize%>
    <%= f.label :showweightsize,"ne pas montrer sur mon profile" %><br />
  </div>


  <div class="field">
    <span>type de rencontre</span>
    <%= f.check_box :fun%>
    <%= f.label :fun %><br />
  </div>
  <div class="field">
    <%= f.check_box :serious%>
    <%= f.label :serious %><br />
  </div>
  <div class="field">
    <%= f.check_box :friendship%>
    <%= f.label :friendship %><br />
  </div>



  <div class="actions">
    <%= f.submit "Continuer" %>
  </div>
<% end %>

